In [13]:
import pandas as pd
import numpy as np
from collections import Counter

In [14]:
FILE_PATH = "sudoku_datasets/sudoku_medium.csv"

In [15]:
df = pd.read_csv(FILE_PATH)

In [16]:
df.head()

,id,puzzle,solution,clues,difficulty
0,2102185,......4.64....8.2..5.23...........8.2.79...3.1...,8327914564196587237562348916453721892879156341...,24,3.1
1,1226863,6..........31.7.....8..4.1214.52..7.......9......,6158924374231678957983546121495283765326719488...,25,3.1
2,712724,.....539.75..2....6....8..4....9.6..8....3.......,2816453977543291866397182541258946738672539414...,22,3.1
3,2866334,8.6..73.9......12...9.......3.5....2..8.74.......,8162573493458691272793416854375189626289745135...,24,3.1
4,1566135,.5.3......31.257..7..98..1.94.5..2...8....15.....,4593716828316257947269843159435182762874961531...,26,3.1

In [17]:
puzzle1 = "53..7....6..195....98....6.8...6...34..8.3..17...2...6....6...28....419..5....8..79"
puzzle2 = "53..7....6..195....98....6.8...6...34..8.3..17...2...6....6...28....419..5....8..79"

In [18]:
puzzle3 = "53..7....6..195....98....6.8...6...34..8.3..17...2...6....6...28....419..5....8..71"

In [19]:
def similarity(puzz1, puzz2):
    """
    takes in two puzzles and returns how many non . "blanks"
    args:
        puzz1: puzzle
        puzz2: puzzle
    returns:
        similarity: similarity score number
    """
    similarity = 0

    for c1, c2 in zip(puzz1, puzz2):
        if c1 != '.' and c1 == c2:
            similarity += 1

    return similarity

In [20]:
print(similarity(puzzle1, puzzle2))

30

In [21]:
print(similarity(puzzle1, puzzle3))

29

In [22]:
def most_similar(query, dataset, k = 5):
    """
    no more docstring lol
    """
    # max_score = -1
    # index_score = int()
    scored_cases = list()


    for idx, row in dataset.iterrows():
        if row["puzzle"] == query:
            continue 
        score = similarity(query, row["puzzle"])
        scored_cases.append((idx, score))
    
    scored_cases.sort(key=lambda x: x[1], reverse=True)

    best_cases = [idx for idx, _ in scored_cases[:k]]

    return df.loc[best_cases]

In [23]:
hi = most_similar(puzzle1, df)
print(hi)

          id                                             puzzle  \
147   368492  ..9.....76......5......1.4..8..691..4....5.......
168  1773230  ..4...1..6...9......9....48.......7..4.8..3.1....
184  1845669  .8...49...47..53....9....2.8..4..73...38..4......
668  1032665  56....3.43...9...5.......9.8..1...5......4..1....
910   131264  2.68..3..35..9......92.....83.4.........3....7...

                                              solution  clues  difficulty
147  2195438676438972515786213493874691254623157981...     23         3.2
168  5347281696821947357193562488635129749458673212...     25         3.2
184  6852349172479153683196875248964517321738264595...     26         3.2
668  5692173843824967157145386928461792532378549619...     26         3.8
910  2768143953586972141492537688314795266251384797...     27         4.6

In [24]:
def string_to_grid(puzzle: str):
    return np.array(list(puzzle)).reshape(9,9)

def valid_move(grid, row, col, num):
    if num in grid[row, :]: 
        return False
    if num in grid[:, col]: 
        return False
    box_r, box_c = 3 * (row // 3), 3 * (col // 3)
    if num in grid[box_r:box_r+3, box_c:box_c+3]: 
        return False
    return True

# voting resuse lowk realized this is not possible w cbr
# need to implement another algo in addition so it works